.row-rev {
  flex-direction: row-reverse;
}

.password-input-container {
  position: relative;
  color: red;
}
.toggle-password {
  position: absolute;
  top: 13px;
  right: 10px;
  background-color: #fff;
}

.password-input-container input {
  width: 100%;
}
